
# Created by https://www.toptal.com/developers/gitignore/api/macos,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,vscode

# to stop me from pushing crashlogs to public git
crashlogs/
bad_logs/
unique_crashes/
analyzed_logs.json
cw.lck

# CrashWrangler build products
/exc_handler
/target/
/abort
/badsyscall
/crashread
/crashwrite
/crashexec
/divzero
/illegalinstruction
/nocrash
/nullderef
/spin
/recursion
/stack_buffer_overflow
/malloc_abort
/fortify_source_overflow
/cfrelease_null
/uninit_heap
/recursive_write
/bad_func_call
/cpp_crash
/objc_crash
/invalid_address_64
/read_and_write_instruction
/illegal_libdispatch
/fastMalloc
/variable_length_stack_buffer
/exploitable_jit
/null_objc_msgSend
/env_probe

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/macos,vscode
